#htaccess
.htaccess
htaccess


README*.md
!README-*.md

# upload folder
wp-content/uploads

# config
wp-config.php

# upgrade
wp-content/upgrade

# cache
wp-content/cache/
wp-content/cache/config/master.php
wp-content/w3tc-config
wp-content/w3tc-config/master.php

# log
*.log